<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <LinkTo @route="index" class="navbar-brand">
    <img class="mr-3" id="lock_img" src="/ui/assets/lock.png" alt="Lock">
  </LinkTo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      </li>
      {{#if session.isAuthenticated}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <LinkTo @route="profile" class="dropdown-item">Profile</LinkTo>
            </li>
            <li class="nav-item">
              <LinkTo @route="security" class="dropdown-item">Security</LinkTo>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a href="#" {{ action "invalidateSession" preventDefault=false}} class="dropdown-item">Sign out</a>
            </li>
          </div>
        </li>
      {{else}}
        <li class="nav-item">
          <a href="#" {{ action "silent_login" preventDefault=false}} class="nav-link">Silent Signin</a>
        </li>
        <li class="nav-item">
          <LinkTo @route="signin" class="nav-link">Sign in</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="signup" class="nav-link">Sign up</LinkTo>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

<br>

<div class="container">
  {{outlet}}
</div>

<hr>

{{#if showDebugInfo}}
  <div class="container">
    <div class="row">
      <div class="col-md">
        <br>
        <h5 class="mt-0">Debugging</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Config
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <pre>{{config}}</pre>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Session Data
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <pre>{{sessionData}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.collapse').collapse()
  </script>
{{/if}}